body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
}

.navbar {
    background-color: #02182c;
    padding: 15px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.filters {
    text-align: center;
    padding: 30px 0;
}

.filter-btn {
    background: white;
    padding: 10px 25px;
    border-radius: 25px;
    margin: 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}

.menu-container {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.food-card {
    background: white;
    width: 280px;
    margin: 15px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.food-img-box {
    height: 180px;
    background: #eee;
    overflow: hidden;
}

.food-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.food-info {
    padding: 20px;
}

.category-tag {
    color: #888;
    margin-bottom: 8px;
}

.price {
    color: #d70f64;
    font-weight: bold;
    margin-bottom: 15px;
}

.add-btn {
    background: #02182c;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.dashboard-layout {
    display: flex ;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
}

.cart-panel {
    flex: 1;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    height: fit-content;
    position: sticky;
    top: 20px;
}

.cart-item {
    margin-bottom: 15px;
    font-size: 14px;
}

.cart-panel button {
    padding: 6px 10px;
    margin: 3px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
}
