body
    {
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: #02182c;
    }

form
    {
        background-color: #ada7a7;
        padding:20px;
        border-radius: 10px;
        width: 500px;
        height: 650px;
        margin: 0px auto 0 auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
    }

    input
    {
        border: none;
        border-bottom: 2px solid #555;
        width: 95%;
        padding: 10px;
        margin-top: 15px;
        background: transparent;
    }

    button
    {
        padding: 12px;
        width: 100%;
    }

    .links
    {
        text-align: center;
        margin-top: 20px;
    }