body{
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: #02182c;
    }
    
.profile-container {
    max-width: 420px;
    margin: 80px auto;
    background: #ada7a7;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #02182c;
}

.profile-form label {
    font-weight: 600;
    margin-top: 15px;
    display: block;
}

.profile-form input {
    width: 94%;
    padding: 12px;
    margin-top: 6px;
    border: none;
    border-radius: 8px;
    border-bottom: 2px solid #555;
    background: transparent;
    outline: none;
}

.profile-form input:focus {
    border-color: #02182c;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

.btn.update {
    background: #589fe2;
    color: white;
}

.btn.update:hover {
    background: #3b7dc4;
}

.success {
    color: green;
    text-align: center;
    margin-top: 15px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 15px;
}

hr {
    margin: 30px 0;
}

