body{
        font-family: Arial, sans-serif;
        padding: 20px;
        background-color: #02182c;
    }
    
.profile-container {
    max-width: 420px;
    margin: 80px auto;
    background: #ada7a7;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}
