body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f6f8;
    margin: 0;
}

.review-container {
    max-width: 600px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.review-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #02182c;
}

.review-container textarea {
    width: 94%;
    height: 150px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 15px;
}

.review-container button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #02182c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.review-container button:hover {
    opacity: 0.9;
}
