 body
    {
        font-family: Arial, sans-serif;
        padding: 30px;
        background-color: #f0f8ff;
    }

    form
    {
        background-color: #ffffff;
        padding:20px;
        border-radius: 10px;
        width: 500px;
        height: 500px;
        margin: 250px auto 0 auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
    }
